
        <div class="wrapper">
            <div >
                <section class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <!--Imagen de perfil-->
                            <div class="box box-primary">
                                <div class="box-body box-profile">
                                    <img *ngIf="identida.foto" class="box-title thumbnail img-thumbnail img-responsive" width="100px" height="100px" src="{{url+'/avatar/'+identida.foto}}">
                                    <img *ngIf="!identida.foto" class="box-title thumbnail img-thumbnail img-responsive" width="100px" height="100px" src="{{url+'/avatar/'+'defect.jpg'}}">
                                    <h3 clas="profile-username text-center">{{identida.name}}</h3>
                                    <span class="glyphicon glypicon-ok"></span>
                                    <p class="text-muted text-center">INGENIERO EN SW</p>
                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b>Segidores</b> <a class="pull-right">1,322</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Seguidos</b> <a class="pull-right">543</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Amigos</b> <a class="pull-right">13,287</a>
                                        </li>
                                    </ul>
                                    
                                    <form *ngIf="!myperfil" action="" method="post">
                                        <h4>Esperando Respuesta...</h4>
                                        <input type="submit" class="btn btn-primary btn-block" name="seguir" value="Enviar solicitud de amistad">
                                        <input type="submit" class="btn btn-danger btn-block" name="dejarseguir" value="Dejar de seguir">
                                        <input type="submit" class="btn btn-primary btn-block" name="seguirdirecto" value="Seguir">
                                        <input type="submit" class="btn btn-danger btn-block" name="dejarseguir" value="Dejar de seguir">
                                        
                                    </form>
                                    <br>
                                    <a *ngIf="!myperfil" [routerLink]="['/mensajes']" [routerLinkActive]="['active']"><input type="button" class="btn btn-default btn-block" name="dejarseguir" value="Enviar chat"></a>
                                    
                                    
                                </div><!--Fin box-body-->
                            </div><!--Fin box-->
                            
                            <!--Acerca de mi-->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">ACERCA DE MI</h3>
                                </div> 
                                <!--Cuerpo-->
                                <div clas="box-body">
                                    <strong><i clas="fa fa-book margin-r-5">Educacion</i></strong>
                                    <p class="text-muted"> Centro Universitario UAEM TEXCOCO </p>
                                    <hr>
                                    <strong><i class="fa fa-map-marker margin-r-5"></i>Localidad</strong>
                                    <p class="text-muted">Texcoco,Estado de Mexico</p>
                                    <hr>
                                    <strong><i class="fa fa-pencil margin-r-5"></i> Habilidades</strong>
                                    <p>
                                        <span class="label label-danger">HTML5</span>
                                        <span class="label label-success">JavaScript</span>
                                        <span class="label label-info">Boostrap</span>
                                        <span class="label label-warning">PHP</span>
                                        <span class="label label-primary">Node.js</span>
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notas</strong>
                                    <p>Programando WEB Xd</p>
                                    
                                </div><!--Finaliza box-body-->
                            </div><!--Finaliza box-->
                        </div><!--finaliza col-->
                        
                        <!--modificar para la actividad, informacion y fotos href-->
                        <div  class="content">
                            <div *ngIf="!myperfil" clas="scroll">
                                <h2>Este perfil es privado, envia una solicitud</h2>
                            </div><!--Fin scroll-->

                            <div class="wrapper">
                                <div class="box-footer">
                                    <form #publicacionForm="ngForm" (ngSubmit)="publicarpost()">
                                        <div class="input-group form-group">
                                            <textarea name="publicacion" #ptexto="ngModel" [(ngModel)]="publicacion.ptexto"  placeholder="¿Qué estás pensando?" class="form-control" rows="3" required></textarea>
                                            <br><br><br><br>
                                            <!-- START Input file nuevo diseño .-->
                                            <input type="file" name="foto" #picture="ngModel" [(ngModel)]="filefoto" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected"/>
                                            <!-- END Input file nuevo diseño .-->
                                            <br>
                                            <button type="submit" name="publicar" class="btn btn-primary btn-flat">Publicar</button>
                                        </div>
                                    </form>
                                </div> <!-- /.box-footer-->
                            </div>

                            <hr>

                            <div class="wrapper" *ngFor="let publicacion of listPublicaciones" >
                                <div  class="box box-primary">
                                    <div class="box-header with-border">
                                        <img *ngIf="publicacion.user_id.foto" class="box-title thumbnail img-thumbnail img-responsive" width="100px" src="{{url+'/avatar/'+publicacion.user_id.foto}}">
                                        <img *ngIf="!publicacion.user_id.foto" class="box-title thumbnail img-thumbnail img-responsive" width="100px" height="100px" src="{{url+'/avatar/'+'defect.jpg'}}">
                                        <h4 class="box-title"> {{publicacion.user_id.name}} </h4><h6 class="box-title">{{publicacion.pfecha | date:'dd MMMM yyyy, HH:mm'}}</h6>
                                        <h3 > {{publicacion.ptexto}} </h3>
                                    </div>
                                    <form class="box-footer" #loginForm="ngForm" (ngSubmit)="enviarComentario(publicacion._id)">
                                        <input type="text" class="form-control" placeholder="comenta" name="ctexto" #ctexto="ngModel" [(ngModel)]="comentario.ctexto">
                                        <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                                        <br>
                                        <button type="submit" name="comentar" class="btn btn-primary btn-right">Comentar</button>
                                    </form>
                                    <!--Muestra los comentarios-->
                                    <div  class="box-header with-border" *ngFor="let comentario of publicacion.comentarios">
                                        <img *ngIf="comentario.user_id.foto" class="box-title thumbnail img-thumbnail img-responsive" width="100px" src="{{url+'/avatar/'+comentario.user_id.foto}}">
                                        <img *ngIf="!comentario.user_id.foto" class="box-title thumbnail img-thumbnail img-responsive" width="100px" src="{{url+'/avatar/'+'defect.jpg'}}">
                                        <h4 class="box-title float-left">{{comentario.user_id.name}}</h4><h6 class="box-title">{{comentario.cfecha | date:'dd MMMM yyyy, HH:mm'}}</h6>
                                        <h5>{{comentario.ctexto}}</h5> 
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div><!--Finaliza row-->
                </section>
            </div><!--Fin content wrapper-->
        </div><!--fin Wrapper-->