
<nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="">
                        RedICO
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-menu">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                    	<li>
                    		<a [routerLink]="['/inicio']" [routerLinkActive]="['active']">
                    			<span class="glyphicon glyphicon-home"></span>
                    			inicio
                    		</a>
                    	</li>
                    	<li>
                    		<a [routerLink]="['/perfil']" [routerLinkActive]="['active']">
                    			<span class="glyphicon glyphicon-user"></span>
								my Perfil
							</a>
						</li>
						<li>
							<a [routerLink]="['/mensajes']" [routerLinkActive]="['active']">
								<span class="glyphicon glyphicon-envelope"></span>
								mensajes
							</a>
						</li>
						<li>
							<a (click)="logout()" [routerLink]>Salir
								<span class="glyphicon glyphicon-log-out"></span>
							</a>
						</li>
                    </ul>
                </div>
            </div>