<div id="fondo">
        <div class="login-box">
            <div class="login-logo">
                <h1>RED ICO</h1>
            </div><!--FIN Login-Logo-->

            <div class="alert alert-danger" *ngIf="status=='false'">
                    Lo sentimos Ocurrio un error inesperado :,(
            </div>

            <div class="login-box-body">
                <form #loginForm="ngForm" (ngSubmit)="loguear()">
                    <fieldset>
                    LOGIN
                        <div class="form-group has-feedback">
                            <!--NUMERO DE CUENTA<br>-->
                            <input type="text" class="form-control" placeholder="Numero Cuenta" name="numC" #nCuenta="ngModel" [(ngModel)]="user.nCuenta" pattern="[0-9]{7}">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                    
                        <div class="form-group has-feedback">
                            <!--CONTRASEÑA<br>-->
                            <input type="password" class="form-control" placeholder="Contraseña" name="pass" #pass="ngModel" [(ngModel)]="user.pass">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        
                    <div class="row">
                        <div class="col-xs-11">
                            <button type="submit" name="login" class="btn btn-primary btn-block btn-flat">INICIAR SESION</button>
                            <button type="reset"  name="reset" class="btn btn-primary btn-block btn-flat">RESET/LIMPIAR</button>
                        </div>
                    </div>
                    </fieldset>
                </form>
                <br>
                <a  class="text-center">OLVIDE MI CONTRASEÑA</a>
                <a [routerLink]="['/registro']" class="text-center">REGISTRARME EN RED ICO</a>
            </div><!--Fin login box body-->
        </div><!--Fin login box-->
</div>